body {
    background-color: #c9e2d3;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.center {
    text-align: center;
  }

#title {
    padding: 20px;
}

  ul {
      list-style: none;
      padding: 0;
  }

  img {
      display: inline;
      width: 200px;
      height: 70px;
  }

  #footer {
      width: 100%;
      border-top: solid 2px black;
      background-color: white;
      position: fixed;
      bottom: 0;
  }

  .contact {
      display: inline;
  }

  .footer-imgs {
      display: inline;
  }

  #parent-input {
      width: 160px;

  }

  #guesses {
      width: 100%;
      padding: 20px;
  }

  .guess {
      display: inline-block;
      border: 2px solid black;
      border-radius: 20px;
      width: 100px;
      height: 75px;
      line-height: 75px;
      font-size: 3em;
      margin: 0px 5px;
      background-color: #FAEBD7;
      opacity: .7;
  }

  #player-input {
      border-radius: 100px;
      height: 160px;
      width: 160px;
      background-color: #FAEBD7
  }

  #submit {
      border-radius: 100px;
      height: 80px;
      width: 80px;     
      position: relative;
      left: -40px;
      top: 40px;
      background-color: #337147;
      border-color: #337147;
  }

  form {
      margin: 50px;
  }

  *:focus{
      outline: none;
  }